<div id="articles_index">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<% @articles.each do |article| %>
					<h2><%= link_to article.title, article_path(article) %></h2>
					<p><%= article.created_at.strftime("%b %d, %Y") %></p>
					<p class="font-para"><%= article.body %></p>
					<p><%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Delete', article_path(article), method: :delete, data:  { confirm: 'Are you sure?' } %></p>
					<br>
				<% end %>
			</div>
		</div>
	</div>
</div>