<div id="articles_show">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h1><%= @article.title %></h1>
				<p><%= @article.body %></p>
				<%= link_to 'Edit', edit_article_path(@article) %>

				<%= render @article.comments %>
				<h3>Add a comment:</h3>
				<%= render 'comments/form' %>
			</div>
		</div>
	</div>
</div>